<div class="mb-3">
    Idade igual á

    <p><input class="col-1" type="number" /> anos </p>
</div>
<div class="text-left">
    <button class="btn btn-primary">Buscar</button>
</div>
<div class="text-lg-right">
    <a class="btn btn-primary" asp-controller="Aluno" asp-action="Index">Voltar</a>
</div>