@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo meu Cria</h1>
    <p>Fala um pouco sobre esse seu curso ai meu mano</p>
</div>
<div>
    <span style="background-color: #FF0000">Vamo ver como fica</span>
</div>
