@model AlunoModel


<form asp-controller="Aluno" asp-action="Index" method="post">
    <div class="mb-3">
        <label for="Idade" class="col-form-label">Idade igual à</label>

        <p><input type="number" asp-for="Idade" class="form-control col-1" id="InputFiltroIdade"> anos </p>
    </div>

    <div class="text-left">
        <button type="submit"  class="btn btn-primary col-1">Buscar</button>
    </div>

</form>
<div class="text-center">
    <a class="btn btn-primary" asp-controller="Aluno" asp-action="Index">Voltar</a>
</div>