
<div class="text-center">
    <h1>Conhecimentos Abordados no Curso</h1>
    <br><a href="https://documenter.getpostman.com/view/7064033/SWT5jMGk">Tabela fIPE</a><br/>
    <br><a href="https://parallelum.com.br/fipe/api/v1/carros/marcas">Link 1</a><br/>
    <br><a href="https://console.hgbrasil.com/documentation/weather">Previsão do tempo</a><br/>
</div>