@*7.Crie uma nova branch, o nome da branch será:
    seu nome_InclusaoNovaAbaInformacoes, e nessa branch você vai fazer a seguinte alteração: Crie uma nova aba com o nome: Informações.
    Ao clicar nessa aba, será mostrado ao usuário a tela com as informações da data que iniciou o curso, a data que vai terminar. Nome do coordenador, nome da instituição que está sendo realizado o curso, endereço completo e telefone.
    Opcional: Colocar de fundo na tela a imagem do Senac de Brusque.
*@
<!DOCTYPE html>
<html>
<head>
    <style>
        p {
        }
    </style>
</head>
<body>
    <div>
        <div>
            <h1>Informações referente ao curso:</h1>
        </div>
        <div>
            O curso teve inicio no dia:13/06/2021
            <p></p>
            O curso terá fim no dia: 01/07/2022
            <p></p>
            Tendo como coordenador o professor Junior Cunha.
            <p></p>
            O curso está sendo realizado na faculdade Senac de Brusque;<br />
            Endereço: Rodovia Antônio Heil Nº 191 - Centro 2, Brusque- SC, CEP: 88353-100;
            Telefone para contato: (47) 3351-2626

        </div>
    </div>
</body>
</html>